 /* CTA Section */

/* From Uiverse.io by gharsh11032000 */ 
        .animated-button-mv {
          position: relative;
          display: flex;
          align-items: center;
          gap: 4px;
          padding: 14px 36px;
          border: 4px solid;
          border-color: transparent;
          font-size: 16px;
          background-color: inherit;
          border-radius: 100px;
          font-weight: 600;
          background-color: #fff;
          color: #06273e;
          box-shadow: 0 0 0 2px #FFF;
          cursor: pointer;
          overflow: hidden;
          transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
        }

        .animated-button-mv svg {
          position: absolute;
          width: 24px;
          fill: #06273e;
          z-index: 9;
          transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
        }

        .animated-button-mv .arr-1 {
          right: 16px;
        }

        .animated-button-mv .arr-2 {
          left: -25%;
        }

        .animated-button-mv .circle {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 20px;
          height: 20px;
          background-color: #fff;
          border-radius: 50%;
          opacity: 0;
          transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
        }

        .animated-button-mv .circle:hover {
          box-shadow: 0 0 0 2px #fff;
        }

        .animated-button-mv .text {
          position: relative;
          z-index: 1;
          transform: translateX(-12px);
          transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
        }

        .animated-button-mv:hover {
          box-shadow: 0 0 0 12px transparent;
          color: #06273e;
          border-radius: 12px;
        }

        .animated-button-mv:hover .arr-1 {
          right: -25%;
        }

        .animated-button-mv:hover .arr-2 {
          left: 16px;
        }

        .animated-button-mv:hover .text {
          transform: translateX(12px);
        }

        .animated-button-mv:hover svg {
          fill: #06273e;
        }

        .animated-button-mv:active {
          scale: 0.95;
          box-shadow: 0 0 0 4px #0091ff;
        }

        .animated-button-mv:hover .circle {
          width: 250px;
          height: 250px;
          opacity: 1;
        
        }


  .binge-cta {
    padding: 100px 20px;
    background: #051b2b;
    color: var(--binge-light);
  }

  .binge-cta-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
  }

  .binge-cta-title {
    font-size: 54px;
    line-height: 1.2;
    letter-spacing: -0.04em;
    font-weight: 700;
    color: #fff;
    margin-bottom: 15px;
  }

  .binge-cta-description {
    font-size: 18px;
    font-weight: 400;
    color: var(--grey);
    opacity: 0.9;
    max-width: 600px;
    line-height: 1.7;
  }
