 @import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Anton&family=Archivo+Black&family=Archivo+Narrow:ital,wght@0,400..700;1,400..700&family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Bebas+Neue&family=Bitcount+Grid+Double:wght@100..900&family=Caprasimo&family=Changa+One:ital@0;1&family=DM+Serif+Text:ital@0;1&family=Domine:wght@400..700&family=Fjalla+One&family=Francois+One&family=Geist:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Libertinus+Math&family=Lora:ital,wght@0,400..700;1,400..700&family=Manrope:wght@200..800&family=Patua+One&family=Rowdies:wght@300;400;700&family=Satisfy&family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap');

      /* Global styles */
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        text-decoration: none;
        color: inherit;
      }

      @viewport {
          width: device-width;
          zoom: 1.0;
        }

        @supports (-webkit-touch-callout: none) {
          body {
            height: -webkit-fill-available;
          }
        }

       /* General Section Styling */
      section {
        padding: 5rem 12rem;
        max-width: 100%;
        margin: 0 auto;
      }
